body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  width: auto;
  background-image: url('./image.jpg');
  background-position: top;
  color: #fff;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
